# Prerequisites
*.d

# Compiled Object files
*.o
*.obj
*.a
*.lib

# Executables and Binaries
*.elf
*.bin
*.exe
*.out

# PlatformIO & Build artifacts
.pio/
.pioenvs/
.piolibdeps/
build/
install/
log/

# IDE files (VS Code)
.vscode/
.history/
*.code-workspace

# OS junk files
.DS_Store
Thumbs.db*.pdf
*.step
*.3mf
*.zip
*.xlsx
*.epro2
.DS_Store
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
